<!— header  —!>
	

	<!— navbar goes here —!>

	<nav class="bg-backgroundrose">
		<div class="max-w-6xl text-white mx-auto">
			<div class="flex justify-between">
				<div class="flex space-x-12">
					<!— logo —!>
					<div>
						<a href="#" class="items-center py-2 px-3">
						<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
						</svg>
						</a>
					</div>

					<!— primary nav —!>
					<div class="flex items-center space-x-12">
						<%= link_to "Contacts", contacts_path %>
						<%= link_to "Events", events_path %>

						<% if user_signed_in? %>

							<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

							<%= link_to "Edit Profile", edit_user_registration_path %>
						<% else %>

							<%= link_to "Sign Up", new_user_registration_path %>

							<%= link_to "Sign In", new_user_session_path %>
						<% end %>

				
					</div>
				</div>
				<!— secondary nav —!>
				<div class="flex items-center">
					<div x-data="{ open: false }">
					    <button @mouseenter="open = true">user@example.com v</button>

					    <ul
					        x-show="open"
					        @mouseleave="open = false"
					    >
					        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
					    </ul>
					</div>


				</div>

			</div>
		</div>

		<!— mobile menu —!>
	</nav>

	<!— content goes here —!>
