<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full max-w-sm">
    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :full_name %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :full_name %>
      </div>
    </div>

    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :organization %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :organization %>
      </div>
    </div>

    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :email_home %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :email_home %>
      </div>
    </div>

    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :email_work %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :email_work %>
      </div>
    </div>

    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :phone_home %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :phone_home %>
      </div>
    </div>

    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :phone_mobile %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :phone_mobile %>
      </div>
    </div>

    <div class="field md:flex md:items-center mb-4">
      <div class="w-1/3">
        <%= form.label :notes %>
      </div>
      <div class="w-1/2">
        <%= form.text_field :notes %>
      </div>
    </div>

    </br>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>


<% end %>
