<p id="notice"><%= notice %></p>

<p>
  <%= @contact.full_name %>
</p>

<p>
  <%= @contact.organization %>
</p>

<p>  
  <%= @contact.email_home %>
  (Home)
</p>

<p>
  <%= @contact.email_work %>
  (Work)

</p>

<p>
  <%= @contact.phone_home %>
  (Home)

</p>

<p>
  <%= @contact.phone_mobile %>
  (Mobile)
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
