<p id="notice"><%= notice %></p>

<div class="p-20 bg-backgroundlightgray">
  <div class="border shadow p-10 bg-white">

    <div class="flex items-center">
      <div>
        <p>
          <div class="text-2xl font-bold">
            <%= @contact.full_name %>
          </div>
        </p>

        <p>
            <%= @contact.organization %>
        </p>
      </div>
      <div>

        <div>
            <%= link_to 'Edit', edit_contact_path(@contact) %> |
            <%= link_to 'Back', contacts_path %>
        </div>
      </div> 
    </div>



    <div class="border-t-2">  
      <%= @contact.email_home %>
      (Home)
    </div>

    <p>
      <%= @contact.email_work %>
      (Work)

    </p>

    <p>
      <%= @contact.phone_home %>
      (Home)

    </p>

    <p>
      <%= @contact.phone_mobile %>
      (Mobile)
    </p>

    <p>
      <strong>Notes:</strong>
      <%= @contact.notes %>
    </p>


  </div>
</div>
